<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background: #000;
            color: white;
        }
        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }
        h4{
            text-transform: uppercase;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h4>Refresh for more cats</h4>
    <img src="{{ url }}"/>
    <p><small>Source: <a href="https://github.com/maxogden/cats">github.com/maxogden/cats</a> </small></p>
</div>
</body>
</html>